## C6M1L2 Item 11 - Create Your Table Structure

## Generic guidelines:    

Refer to the [Exercise](https://www.coursera.org/learn/database-clients/supplement/0oDtw/working-with-labs-in-this-course) for guidance on viewing your code, instructions related to the Jupyter notebook environment, as well as how to access the MySQL database in it.  
  
## Prerequisites 

To complete this exercise, you must have access to the MySQL database. As an authorized user, you need to establish a connection between Python and MySQL via the connector API and create a “cursor” object using the following code:

In [ ]:
#install connector api using the command below.
!pip install mysql-connector-python

# Import the MySQL Connector/Python
import mysql.connector as connector

In [ ]:
#!pip show mysql-connector-python

Once the connection is established and you have a cursor object, you can carry out the required tasks.

In [ ]:
# Create a cursor object to communicate with entire MySQL database
cursor = connection.cursor()

## Scenario 

Little Lemon needs a Python-based application in which they can organize their data within different tables in a MySQL database.  

First, they need to create their database. Then they need to create the database’s tables.  

The list of tables they need to create are as follows: 

* A table called Menu that stores menu data 
* A table called MenuItems that stores data on menu items 
* A table called Orders that stores data on customer orders 
* And a table called Bookings that stores data on customer bookings 

Complete the tasks that follow to help Little Lemon create the database and the tables.

## Task 1:
Little Lemon need to create a database that can hold their tables. Create a MySQL database for Little Lemon using Python. You can call the database “little_lemon”. 
You also need to confirm that the database has been successfully created by executing the `“SHOW DATABASE”` query. 

**Tip:** If a database with the same name already exists, then you’ll receive an error confirming its existence. Otherwise, your code will be executed with no output.

In [ ]:
# Add your code here

## Task 2:
Set the newly created database `“little_lemon”` for use. Confirm that the database is available for use by using `connection.database`. 

**Tip:** If the `“little_lemon”` database already exists, then the code in your jupyter notebook cell should execute without any error.

In [ ]:
# Add your code here

## Creating tables

## Task 3:

Create a `“MenuItems”` table using the following SQL query as a Python string:
```Python
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""
```
Once you have executed the query, use the `“SHOW TABLES”` command to confirm that the table has been created.

**Tip:** The code will run in the jupyter notebook with no error if your SQL query is correct, and the table does not exist.

In [ ]:
# Add your code here

## Task 4: 

Create the `“Menus”` table to store data on menus using the following SQL query as a Python string.
```Python
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""
```
Once you have executed the query, use the `SHOW TABLES` command to confirm that the table has been created. 

**Tip:** The code will run in the jupyter notebook with no error if your SQL query is correct, and the table does not exist.

In [ ]:
# Add your code here

## Task 5: 

Create the “Bookings” table to store data on customer bookings using the following SQL query as a Python string:

```Python
Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""
```
Once you have executed the query, use the `“SHOW TABLES”` command to confirm that the table has been created.

**Tip:** The code will run in the jupyter notebook with no error if your SQL query is correct, and the table does not exist.

In [ ]:
# Add your code here

## Task 6: 

Create an “Orders” table to store data on customer orders using the following SQL query as a Python string:
```Python
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""
```

Once you have executed the code, use the SHOW TABLES command to confirm that the table has been created. 

**Tip:** The code will run in the jupyter notebook with no error if your sql query is correct, and the table does not exist

In [ ]:
# Add your code here